.section-hero {
  width: 100%;

  .section-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/img/header-bg.svg'), $background-gradient;
    background-size: cover;
    clip-path: ellipse(75% 55% at 50% 25%);
    z-index: -1;
  }
}

.section-solution {
  background-image: url('/img/solutions-section-bg.svg');
  background-size: cover;
}

.section-process {
  background-image: url('/img/our-process-bg-overlay.svg'), $background-gradient;
  background-size: cover;
  background-blend-mode: overlay;
}

.section-get-started {
  background-image: $background-gradient;
}
